body {
  margin-left: 10px;
}

tr {
  border: 2px solid black;
}

td {
  padding: 0px 10px;
}

.winter {
  background-color: white;
}

.spring {
  background-color: #4c2;
}

.summer {
  background-color: #fa4;
}

.fall {
  background-color: #a84;
}