body {
  margin-left: 10px;
}

table {
  table-layout: fixed;
}

th,#name {
  background-color: lightgrey;
}

th,td {
  border: 1px solid black;
  word-wrap: break-word;
}

td {
  text-align: right;
}
