<!-- David Prager Branner -->
<!-- 20140802 -->

<!doctype html>
<html lang="en" ng-app="ngMadLibs">
<head>
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <link rel="stylesheet" href="css/ngMadLibs.css">
</head>

<body ng-controller="Replacements">
  <header class="container">
    <div class="rowlike">
      <div id="face" class="celllike boxed">
        <img src="images/mad-lib-happy-face.png" 
             alt="ngMadLibs Smiley face" id="happyface">
      </div>
      <div id="logo" class="celllike boxed">
        <p>
          <img src="images/ng-mad-libs-logo.png" 
               alt="ngMadLibs Logo" id="logo">
        </p>
        <p id="automatethis">Automate This!</p>
      </div>
    </div>
  </header>

  <section ng-show="userInput" class="container boxed">
    <div class="rowlike">
      <div id="provide" class="celllike">
        <ul>
          <li>
          <input ng-repeat="item in origReplmnts"
                type="{{ item.type }}" placeholder="{{ item.placeholder }}" 
                ng-model=item.name required>
          </li>
        </ul>
      </div>
    </div>

    <div class="rowlike">
      <div class="celllike button">
        <button ng-show="userInput" ng-click="generateMadLib()" type="button">
          Generate My MadLib!
        </button>
      </div>
    </div>
  </section>

  <section ng-show="!userInput" class="container boxed">
    <div class="rowlike">
      <div id="madlib" class="celllike">
      </div>
    </div>

    <div class="rowlike">
      <div class="celllike button">
        <button ng-show="!userInput" ng-click="resetMadLib()" type="button">
          Start Over
        </button>
      </div>
    </div>
  </section>

  <script src="js/angular.js"></script>
  <script src="js/ngMadLibs.js"></script>
</body>
</html>
