<!-- David Prager Branner -->
<!-- 20140722 -->

<!doctype html>
<html lang="en" ng-app="">
<head>
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <link rel="stylesheet" type="text/css" href="css/ngMadLibs.css">
</head>

<body>
  <table>
    <tr>
      <td rowspan="2" id="lefttopcell">
        <img src="images/mad-lib-happy-face.png" alt="ngMadLibs Smiley face" id="happyface">
      </td>
        <td id="righttopcell">
          <img src="images/ng-mad-libs-logo.png" alt="ngMadLibs Logo" id="logo">
        </td>
      <tr>
        <td id="automatethis">Automate This!</td>
      </tr>
    </tr>
  </table>

  <table class="notopbottomborder">
    <tr>
      <td id="provide" colspan="3">Provide the following words:</td>
    </tr>
  </table>

  <table class="notopbottomborder">
    <tr>
      <td><input type="text" ng-init="Female_name='Female name'" ng-model="Female_name"></td>
      <td><input type="text" ng-init="Dirty_task='Dirty task'" ng-model="Dirty_task"></td>
      <td><input type="text" ng-init="Obnoxious_celebrity='Obnoxious celebrity'" ng-model="Obnoxious_celebrity"></td>
    </tr>
    <tr>
      <td><input type="text" ng-init="Job_title='Job title'" ng-model="Job_title"></td>
      <td><input type="text" ng-init="Celebrity='Celebrity'" ng-model="Celebrity"></td>
      <td><input type="text" ng-init="Huge_number='Huge number'" ng-model="Huge_number"></td>
    </tr>
    <tr>
      <td class="inputs"><input type="text" ng-init="Tedious_task='Tedious task'" ng-model="Tedious_task"></td>
      <td class="inputs"><input type="text" ng-init="Useless_skill='Useless skill'" ng-model="Useless_skill"></td>
      <td class="inputs"><input type="text" ng-init="Adjective='Adjective'" ng-model="Adjective"></td>
    </tr>
  </table>

  <table>
    <tr> 
      <td colspan="2" id="madlib">
        <p>
        <span>{{ Female_name }}</span> was a 
        <span>{{ Job_title }}</span> who loved technology. Although she loved parts of her job, she absolutely hated 
        <span>{{ Tedious_task }}</span> and 
        <span>{{ Dirty_task }}</span>. So 
        <span>{{ Female_name }}</span> met with her life mentor 
        <span>{{ Celebrity }}</span> who told her to learn how to 
        <span>{{ Useless_skill }}</span> with Thinkful. Thinkful didn't offer a course on 
        <span>{{ Useless_skill }}</span> so she studied programming instead.
        </p>

        <p>
        What a great decision! With her new skills, 
        <span>{{ Female_name }}</span> built a(n) 
        <span>{{ Adjective }}</span> robot named 
        <span>{{ Obnoxious_celebrity }}</span> that not only loved 
        <span>{{ Dirty_task }}</span> but did it 
        <span>{{ Huge_number }}</span> faster. 
        </p>
      </td>
    </tr>
  </table>
  <script type="text/javascript" src="js/angular.js"></script>
</body>
</html>
